@model AspBlog.Models.Article

@{
    ViewData["Title"] = "Smazat";
}

<h1>Smazat</h1>

<h3>Opravdu chceš tento článek smazat?</h3>
<div>
    <h4>Článek</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Obsah)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Obsah)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Titul)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Titul)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Popis)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Popis)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Smazat" class="btn btn-danger" /> |
        <a asp-action="Index">Zpátky na seznam</a>
    </form>
</div>
